<p>firstcomponent works!</p>
<div class="container">
<div class="row">
<div class="col-sm-4">
    <h5>Manage all your sites efficiently.</h5>
</div>
<div class="col-sm-4">
    <h5>Work smarter with secure, centralized client management.</h5>
</div>
<div class="col-sm-4">
    <h5>Every time you spend, you save.</h5>
</div>
</div>
<div class="row">
<div class="col-sm-4">
    <p>Perform individual or bulk updates and simplify maintenance tasks across all your client websites — even those not hosted by GoDaddy. No more manual backups and juggling multiple schedules.</p>
</div>
<div class="col-sm-4">
    <p>From a single sign on, manage all your clients’ sites and products on their behalf through shared shopping or delegated access. Email reports to keep clients updated on their site status.</p>
</div> 
<div class="col-sm-4">
    <p>Enjoy discounts and earn rewards toward future purchases on all new, qualifying product purchases* made by you or your clients.</p>
</div>
</div>
<h1 class="h1">Grow your business with a rich set of website <br>tools and program benefits.</h1>
<div class="card">
<div class="row">
    <div class="col-sm-6 ">
        <img src="" alt="" width="" height="">
    </div>
    <div class="col-sm-5 ">
        <p>Website Management</p>
        <h1 class="h2">Manage all your sites and automate updates individually or in bulk.</h1>
        <p>Quickly perform bulk updates for plugins, themes and WordPress core no matter where sites are hosted. GoDaddy Pro also offers a slew of free and paid add-ons to help with common tasks, like backups, monitoring, security, client reports and SEO.</p>
    </div>
</div>
</div>
</div>

